body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    background-color: #f0f8ff;
}

/* Container styles */
#container {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("larger.png"); /* Assuming this is your background */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/* Single pipe image */
.pipe {
    width: 600px; 
    height: 400px; 
    background-image: url("Design_Visuals/Pipes.png"); 
    background-repeat: no-repeat;
    background-size: contain; /* Keep the image in its natural proportions */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image *
}

.bucky{
    width: 100px;
    height: 300px;
    background-image: url("Design_Visuals/Bucky's disembodied head.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute; 
}
