/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

#image-container {
    text-align: center;
}
