/* styles.css */

/* Author(s): Zoe Pendleton
 * Creation Date: 11/7/2024
 * Last Revision Date: 11/7/2024
 * Purpose: To add styling to the landing page 
 */

 body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("/large.png")
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f0f8ff;
   
}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#image-container img {
    margin: auto;
}
